PROJECT_NAME=NFTPAD
SERVER_SECRET=NHQ99lkvxckviwekvxkcvjiweslkfj3rskldfjlKKJcvweknsdvixcjvsd
SERVER_SALT_PASSWORD=NHQ99|asdasdasdwqeqovewcvertbmybryberyberbtrw2
SERVER_PORT=3999
MONGODB_URL=mongo
MONGODB_USER=root
MONGODB_PASS=root
MONGODB_DATABASE=nftpad
API_PREFIX=/api
MONGODB_EXPRESS_PORT=4444
MONGODB_PORT=27017
UPLOAD_PATH=uploads/
SEED_DATA=false
VERSION=1.0
MEMORY_LIMIT=6144M
MEMORY_RESERVATIONS=500M
